
p{
    font-family: 'Permanent Marker', cursive;
}
.firstimage {
    background-image: url("/assets/doc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: 1;
    height:625px ;
  
}
.text{
    color: #ffffff;
}
.card{
    margin-top: 70px;
    /* background-color: #000000; */
}

.span{
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0px;
    font-weight: 400px;
}
.button{
    outline: none;
    /* background-image: linear-gradient(to right,#e36916,#6ba735,#005eb0); */
    border-color: rgb(10, 10, 10);
    background-color: #ffffff;
    width: 60%;
    border-radius: 5px;
    color: black;
}
.button:focus{
    background-color:rgb(14, 221, 42);
    border-color: rgb(14, 204, 62); 
}
@media only screen and (max-width:425px){
    .firstimage {
        background-image: url("/assets/doc.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        opacity: 1;
        height:535px ;
      
    }
}
@media only screen and (max-width:768px){
    .firstimage {
        background-image: url("/assets/doc.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        opacity: 1;
        height:535px ;
      
    }
}