.container{
    margin-top: 100px;
}
h3{
    font-family: 'Playfair Display', serif;
  }

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

#one{
    font-weight: bold;
}
  #one:hover:after {
    content: attr(data-tooltip);
    display:inline;
    position:absolute;
    background:black;
    color:white;
    padding: 4px;
    border-radius:5px;
    
  }
  #right{
    float:right;
    display:block;
    margin-right:0px;
    clear:left;
  }