
  <div class="container">
      <div class="row">    
      <div class="col-lg-12 col-md-12 col-sm-12 mt-4 mb-4">	
          <div class="card border-dark">   
          			<div class="ml-4 mt-4 mr-4 mb-5">	
                  <!-- <div class="row">
                    <div class="col-12 mb-1">
                        <img src="assets/favicon.png" alt="image" width="34" height="34" class="mb-2 "> &nbsp; &nbsp;
                        <span class="spa ">E-Desk</span>
                    </div>
                  </div><hr> -->
                <div class="row ">
                  <div class="col-8 mt-5 ">
                      <h4 class="text-capitalize">{{display.firstname}}&nbsp;{{display.lastname}}</h4>
                  </div>
                      <div class="col-4">
                      <img src="assets/ima.png" width="100" height="100" class="float-right">	
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-md-3 col-lg-2">
                      <p>Father Name :</p>
                    </div>
                    <div class="col-9">
                        <b class="text-capitalize">{{display.fathername	}}</b>	 
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3 col-lg-2">
                        <p>Mother Name :</p>
                      </div>
                      <div class="col-9">
                          <b class="text-capitalize">{{display.mothername	}}</b>	 
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-3 col-lg-2">
                      <p>Birth Date :</p>
                    </div>
                    <div class="col-9">
                        <b>{{display.dateofbirth | date:'dd-MM-yyyy'}}</b>	
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3 col-lg-2">
                        <p>Gender :</p>
                      </div>
                      <div class="col-9">
                          <b class="text-capitalize">{{display.element_8}}</b>	 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-2">
                          <p>Email-Id :</p>
                        </div>
                        <div class="col-9">
                            <b>{{display.email}}</b>	 
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3 col-lg-2">
                            <p>Phone Number :</p>
                          </div>
                          <div class="col-9">
                              <b>{{display.phonenum}}</b>	 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-2">
                              <p>Alternate Number :</p>
                            </div>
                            <div class="col-9">
                                <b>{{display.altnum}}</b>	 
                              </div>
                          </div><hr>
                          <div class="row">
                              <div class="col-md-3 col-lg-2">
                                <p>Date Of Joining :</p>
                              </div>
                              <div class="col-9">
                                  <b>{{display.doj | date:'dd-MM-yyyy'	}}</b>	 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-2">
                                  <p>Date Of Leaving:</p>
                                </div>
                                <div class="col-9">
                                    <b>{{display.dol | date:'dd-MM-yyyy'	}}</b>	 
                                  </div>
                              </div><hr>
                              <br>
                              <div class="row">
                                  <div class="col-md-2 col-lg-2">
                                    <p>Address :</p>
                                  </div>
                                  <div class="col-10" style="overflow-x:auto;">
                                    <table  class="table" id="customers" >
                                        <thead>
                                        <tr>
                                            <th >#</th>
                                            <td >Permanent Address</td>
                                            <td >current Address</td>                                            
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr>
                                              <td>Street Address</td>
                                              <td ><b class="text-capitalize">{{display.cstreet}}</b></td>
                                              
                                              <td ><b class="text-capitalize">{{display.pstreet}}</b></td>
                                            </tr>
                                            <tr>
                                                <td>City</td>
                                                <td ><b class="text-capitalize">{{display.ccity}}</b></td>
                                                
                                                <td ><b class="text-capitalize">{{display.pcity}}</b></td>
                                              </tr>
                                              <tr>
                                                  <td>State</td>
                                                  <td ><b class="text-capitalize">{{display.cstate}}</b></td>
                                                  
                                                  <td ><b class="text-capitalize">{{display.pstate}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Zip Code</td>
                                                    <td ><b class="text-capitalize">{{display.czip}}</b></td>
                                                    
                                                    <td ><b class="text-capitalize">{{display.czip}}</b></td>
                                                  </tr>
                                                  <tr>
                                                      <td>Country</td>
                                                      <td ><b class="text-capitalize">{{display.country}}</b></td>
                                                      
                                                      <td ><b class="text-capitalize">{{display.pcountry}}</b></td>
                                                    </tr>
                                                  </tbody>
                                    </table>
                                       
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-2 col-lg-2">
                                      <p>Education Details:</p>
                                    </div>
                                    <div class="col-10" style="overflow-x:auto;">
                                        <table class="table" id="customers">
                                          <tr>
                                            <th>Course </th>
                                            <td>Institute Name</td>
                                            <td>Percentage</td>
                                            
                                          </tr>
                                          <tr>
                                            <td>SSLC</td>
                                            <td><b class="text-capitalize" >{{display.school}}</b></td>
                                            <td><b>{{display.percentage}}</b></td>
                                          </tr>
                                          <tr *ngIf='display.sschool'>
                                              <td>HSC</td>
                                              <td><b class="text-capitalize">{{display.sschool}}</b></td>
                                              <td><b>{{display.spercentage}}</b></td>
                                            </tr>
                                            <tr *ngIf='display.dcourse'>
                                                <td><b>{{display.dcourse}}</b></td>
                                                <td><b class="text-capitalize">{{display.diploma}}</b></td>
                                                <td><b>{{display.dpercentage}}</b></td>
                                                
                                              </tr>
                                            <tr *ngIf='display.collage'>
                                                <td><b>{{display.ugcourse}}</b></td>
                                                <td><b class="text-capitalize">{{display.collage}}</b></td>
                                                <td><b>{{display.cpercentage }}</b></td>
                                                
                                              </tr>
                                              <tr *ngIf='display.pcollage'>
                                                  <td><b>{{display.pgcourse}}</b></td>
                                                  <td><b class="text-capitalize">{{display.pcollage}}</b></td>
                                                  <td><b>{{display.pgpercentage }}</b></td>
                                                  
                                                </tr>
                                              
                                        </table>	 
                                      </div>
                                  </div>
                                  <br>
                                  <div class="row">
                                      <div class="col-md-3 col-lg-2">
                                          <p>SSLC Marksheet :</p>
                                        </div>
                                        <div class="col-9">
                                    <!-- Trigger the modal with a button -->
                                      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">SSLC Marksheet</button>

                                      <!-- Modal -->
                                      <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">   
                                              <h4 class="modal-title">SSLC Marksheet</h4>
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                              <img src="/assets/Scan_20180925.png" width="100%">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default border-dark" data-dismiss="modal">Close</button>
                                              </div>
                                          </div>
                                        </div>
                                      </div>        
                                    </div>

                                  </div>
                                  <br>
                                  <div class="row">
                                      <div class="col-md-3 col-lg-2">
                                          <p>HSC Marksheet :</p>
                                        </div>
                                        <div class="col-9">
                                    <!-- Trigger the modal with a button -->
                                      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal1">HSC Marksheet</button>

                                      <!-- Modal -->
                                      <div class="modal fade" id="myModal1" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">   
                                              <h4 class="modal-title">HSC Marksheet</h4>
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                              <p>This is a large modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default border-dark" data-dismiss="modal">Close</button>
                                              </div>
                                          </div>
                                        </div>
                                      </div>        
                                    </div>

                                  </div>

                                  <br>
                                  <div class="row">
                                      <div class="col-md-3 col-lg-2">
                                          <p>  Resume :</p>
                                        </div>
                                        <div class="col-9">
                                    <!-- Trigger the modal with a button -->
                                      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal2">Resume</button>

                                      <!-- Modal -->
                                      <div class="modal fade" id="myModal2" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              
                                              <h4 class="modal-title text-capitalize">{{display.firstname}} Resume</h4>
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                              <p>This is a large modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default border-dark" data-dismiss="modal">Close</button>
                                              </div>
                                          </div>
                                        </div>
                                      </div>        
                                    </div>

                                  </div>        
                                  
                                  <br>
                                  <div class="row">
                                      <div class="col-md-3 col-lg-2">
                                          <p>  Aadhaar Id :</p>
                                        </div>
                                        <div class="col-9">
                                    <!-- Trigger the modal with a button -->
                                      <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal3">Aadhaar Id</button>

                                      <!-- Modal -->
                                      <div class="modal fade" id="myModal3" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              
                                              <h4 class="modal-title">Aadhaar Id</h4>
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                              <p>This is a large modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default border-dark" data-dismiss="modal">Close</button>
                                              </div>
                                          </div>
                                        </div>
                                      </div>        
                                    </div>

                                  </div>         
                                  
             
            </div>				         
          
            </div> 
      </div>
      
        
      </div>    
  </div>

